body {
    background-image: url("../Src/Images/background_hacker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
} 


h1 {
    text-align: center;
}

.definitions {
    width: 40%;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 15px;

    padding: 10px;
    margin: 10px;
}

p {
    font-size: larger;
    text-align: justify;
}

.presentation {
    width: 40%;
    border-style: double;
    border-color: grey;
    border-width: 5px;
    border-radius: 15px;

    margin: 10px;
    padding: 10px;

    background-color: white;
    color: black;

    position: relative;
}

#img_presentation {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 85%;
}

ul {
    color: black;
}

.redirections {
    position: absolute;
    top: 20px;
    right: 20px;
}