body {
    background-image: url("../Src/Images/background_hacker.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

.redirections {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25%;

    border-style: dashed;
    border-width: 5px;
    border-color: grey;
    border-radius: 15px;

    padding: 10px;
    margin: 10px;

    color: black;
    background-color: white;
}

.blocInfo {
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    border-radius: 15px;

    margin: 10px;
    padding: 10px;
    width: 40%;
}

.noirSurBlanc {
    color: black;
    background-color: white;
    
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    border-radius: 15px;

    margin: 10px;
    padding: 10px;
    width: 40%;
}

.blancSurNoir {
    color: white;
    
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    border-radius: 15px;

    margin: 10px;
    padding: 10px;
    width: 40%;
}