body {
    background-color: black;

    color: white;
}

.redirections {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25%;

    border-style: dashed;
    border-width: 5px;
    border-color: grey;
    border-radius: 15px;

    padding: 10px;
    margin: 10px;

    color: black;
    background-color: white;
}


.noirSurBlanc {
    color: black;
    background-color: white;
    
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    border-radius: 15px;

    margin: 10px;
    padding: 10px;
    width: 60%;
}

.blancSurNoir {
    color: white;
    
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    border-radius: 15px;

    margin: 10px;
    padding: 10px;
    width: 60%;
}


#phishing {
    font-size: small;
    position: relative;
}

#malwares {
    font-size: small;
    position: relative;
}

img {
    width: 40%;
    position: absolute;
    top: 10px;
    right: 10px;
}

iframe {
    width: 40%;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.noirSurBlanc ol, .blancSurNoir ol {
    width: 50%;
}

li {
    text-align: justify;
}